style {
     background-color: blue;
}

img {
    width: 814px;
    height: 130px;
} 
#main {
    background-color: blue;
}

@media screen and (max-width: 1060px) {
    #primary { width:67%; }
    #secondary { width:30%; margin-left:3%;}  
}

@media screen and (max-width: 768px) {
    #primary { width:100%; }
    #secondary { width:100%; margin:0; border:none; }
}